{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel de control</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'styles/navbar_sidebar_styles.css' %}">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <link href="https://cdn.jsdelivr.net/npm/@sweetalert2/theme-minimal/minimal.css" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <link href="{% static 'images/favicon_ICESI.png' %}" rel="Shortcut Icon">
</head>
<body>

    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>

    <main class="container-fluid">

        <div class="row">
            <aside class="col-2 sidebar collapse d-lg-flex flex-column p-3" id="myNavBar">
                <img class="img-fluid d-lg-block d-none" src="{% static 'images/logo_ICESI.png' %}" alt="Logo de ICESI">
                
                <div class="links mt-5 d-flex flex-column gap-3">
                    {% if 'Panel de control' in request.session.permisos %}
                        <article class="d-flex align-items-center">
                            <i class='bx bxs-dashboard position-absolute'></i>
                            <a class="text-decoration-none text-black py-2" href="/dashboard/">Panel de control</a>
                        </article>
                    {% endif %}

                    {% if 'Registrar estudiante' in request.session.permisos  %}

                        <article class="d-flex align-items-center"><i class='bx bx-user-plus position-absolute'></i><a class="text-decoration-none text-black py-2" href="/studentsRegister/">Registrar estudiante</a></article>

                    {% endif %}

                    {% if 'Gestionar estudiante' in request.session.permisos  %}
                    
                        <article class="d-flex align-items-center"><i class='bx bxs-cog position-absolute'></i><a class="text-decoration-none text-black py-2" href="/studentManage/">Gestionar estudiante</a></article>

                    {% endif %}

                    {% if 'Generar reporte' in request.session.permisos  %}

                        <article class="d-flex align-items-center"><i class='bx bxs-file-blank position-absolute'></i><a class="text-decoration-none text-black py-2" href="/menuReport">Generar reporte</a></article>

                    {% endif %}

                    {% if 'Cargar informacion DP' in request.session.permisos  %}

                        <article class="d-flex align-items-center"><i class='bx bx-upload position-absolute'></i><a class="text-decoration-none text-black py-2" href="/upload_dataPD">Cargar informacion</a></article>

                    {% endif %}

                    {% if 'Cargar informacion BU' in request.session.permisos  %}

                    <article class="d-flex align-items-center"><i class='bx bx-upload position-absolute'></i><a class="text-decoration-none text-black py-2" href="/upload_dataBU">Cargar informacion</a></article>

                    {% endif %}

                    {% if 'Cargar informacion CREA' in request.session.permisos  %}

                    <article class="d-flex align-items-center"><i class='bx bx-upload position-absolute'></i><a class="text-decoration-none text-black py-2" href="/upload_dataCREA">Cargar informacion</a></article>

                    {% endif %}

                    {% if 'Pedir Actualizacion de Informacion' in request.session.permisos  %}

                    <article class="d-flex align-items-center"><<i class='bx bx-mail-send position-absolute'></i><a class="text-decoration-none text-black py-2" href="/requestupd">Pedir Actualizacion de Informacion</a></article>

                    {% endif %}

                    {% if 'Pago Alimentacion' in request.session.permisos  %}

                    <article class="d-flex align-items-center"><i class='bx bx-coffee-togo position-absolute dropdown-item'></i><a class="text-decoration-none text-black py-2 ps-5" href="/apoyo_financiero_alimentacion">Alimentación</a></article>

                    {% endif %}


                    {% if 'Pago Academico' in request.session.permisos  %}

                    <article class="d-flex align-items-center"><i class='bx bx-book position-absolute dropdown-item'></i><a class="text-decoration-none text-black py-2 ps-5" href="/apoyo_financiero_academico">Académico</a></article>

                    {% endif %}

                    {% if 'Pago Transporte' in request.session.permisos  %}
                        <article class="d-flex align-items-center"><i class='bx bx-bus position-absolute dropdown-item'></i><a class="text-decoration-none text-black py-2 ps-5" href="/apoyo_financiero_transporte">Transporte</a></article>
                        
                    {% endif %}

                    



                </div>
              
                <div>
                    <h5 class="text-center">{{ request.session.rol  }}</h5>
    
                    <div class="pb-1 divisor"></div>
    
                    <p class="d-flex align-items-center mt-3"><i class='bx bxs-user'></i> <span class="mx-2">{{ request.session.name }}</span></p>
    
                    <button class="btn btn-danger container-fluid">Cerrar Sesion</button>
                </div>
            </aside>
            <nav class="col-12 col-lg-10 navbar px-lg-3 px-4 text-white d-flex justify-content-lg-end">
                <div class="navbar-header d-lg-none d-block">
                    <button type="button" class="border-0 d-flex flex-column gap-1 navbar-toggler bg-transparent py-1 px-2" data-bs-toggle="collapse" data-bs-target="#myNavBar">
                        <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                    </button>
                </div>
                <div class="d-flex flex-row gap-3">
                    <div class="btn-group">
                        <button type="button" class="d-flex align-items-center border-0 bg-transparent dropdown-toggle text-white" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class='bx bxs-bell text-white'></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <div class="dropdown-header">4 notificaciones nuevas</div>
                            <li><a class="dropdown-item" href="">Cancelacion</a></li>
                            <li><a class="dropdown-item" href="">Cancelacion</a></li>
                            <li><a class="dropdown-item" href="">Cancelacion</a></li>
                            <li><a class="dropdown-item" href="">Cancelacion</a></li>
                            <li><a class="dropdown-item" href="">Cancelacion</a></li>
                            <div class="dropdown-menu-footer">
                                <a href="#" class="dropdown-header text-decoration-none text-black text-muted">Mostrar todas las notificaciones</a>
                            </div>
                        </ul>
                    </div>
                    <button type="button" class="border-0 bg-transparent d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#modalUser" id="modalInput">
                        <i class="text-white bx bxs-user-circle"></i>
                    </button>
                </div>
            </nav>
        </div>

        <div class="row">
            <div class="col-2">
            </div>
            <article class="col-12 col-lg-10 main_content pt-5 pb-5">
                {% block main_content %}
    
                {% endblock %}
            </article>
        </div>

    </main>

    <div class="modal" id="modalUser" tabindex="-1" aria-labelledby="lblUser" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="lblUser">Cambiar contraseña</h2>
                </div>
                <div class="modal-body">
                    <form action="" method="POST">
                        <label for="" class="d-block">Contraseña actual</label>
                        <input type="password" class="mb-2 container-fluid">
                        <label for="" class="d-block ">Nueva contraseña</label>
                        <input type="password" class="container-fluid">
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button class="btn btn-primary">Cambiar contraseña</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>