{% extends 'layouts/navbar_sidebar.html' %}
{% load static %}

{% block main_content %}

<div>
    <h3>ASIGNAR BECA</h3>
</div>

{% if mensaje %}
<div class="alert alert-danger">{{ mensaje }}</div>
{% endif %}

<form method="post" action="{% url 'asignar_beca' codigo %}">
    {% csrf_token %}
    <div class="d-flex justify-content-center align-items-center h-75 mt-5">
        <div class="container-fluid w-75 h-100 p-3 d-flex flex-column gap-4 rounded" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50); background-color: #FFF;">
            <h7 CLASS="text-center" style="font-weight: bold;">BECAS</h7>
            <table style="border-collapse: separate; border-spacing: 0 1rem; ">
                <tr class="p-2" style="background-color: #EBEDEF;">
                    <th class="p-2">#</th>
                    <th class="p-2">Nombre</th>
                    <th class="p-2">Monto</th>
                    <th class="p-2">Donante</th>
                    <th class="p-2">Est.asignados</th>
                    <th class="p-2">Acciones</th>
                </tr>
                {% for beca in becas %}
                <tr class="p-2">
                    <td class="p-2">{{ beca.id }}</td>
                    <td class="p-2">{{ beca.nombre }}</td>
                    <td class="p-2">{{ beca.montos }}</td>
                    <td class="p-2">{{ beca.donante }}</td>
                    <td class="p-2">{{ beca.estudiantes_asignados }}</td>
                    <td class="p-2">
                        <input type="checkbox" class="btn-check" id="beca_{{ beca.id }}" name="beca_id" value="{{ beca.id }}" autocomplete="off">
                        <label class="btn btn-primary" for="beca_{{ beca.id }}">Asignar</label>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn-primary">Confirmar</button>
            </div>
        </div>
    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
<script>
    {% for message in messages %}
    Swal.fire({
        icon: '{{ message.tags }}',
        title: '{{ message }}',
        showConfirmButton: true,
        confirmButtonColor: '#3085d6',
    });
    {% endfor %}
</script>
{% endif %}

{% endblock %}
    