{% extends 'layouts/navbar_sidebar.html' %}
{% load static %}

{% block title_page %}

    <title>Cancelar Materias</title>

{% endblock %}

{% block main_content %} 

<h3>CANCELAR MATERIAS</h3>

    {% for ide in ides %}

        <div class="accordion accordion-flush mx-auto w-75 mt-5 rounded" id="accordionFlushExample" style="z-index: -10;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50); background-color: #FFF;">
            <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                <p class="p-0 m-0">Informacion del estudiante: <span class="fw-bolder">{{ ide.code }}</span></p>
                </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">
                    <p>Nombre: <span class="fw-bolder">{{ ide.name }}</span></p>
                    <p>Numero de telefono: <span class="fw-bolder">{{ ide.phoneNumber }}</span></p>
                    <p>Fecha de nacimiento: <span class="fw-bolder">{{ ide.date }}</span></p>
                    <p>Puntaje ICFES: <span class="fw-bolder">{{ ide.icfes }}</span></p>
                    <p>Cedula: <span class="fw-bolder">{{ ide.cedula }}</span></p>
                    <p>Correo electrónico: <span class="fw-bolder">{{ ide.mail }}</span></p>
                    <p>Carrera: <span class="fw-bolder">{{ ide.major }}</span></p>
                </div>
            </div>
            </div>
        </div>

    {% endfor %}

    <div class="mx-auto w-75 d-flex flex-wrap justify-content-center gap-5 mt-5">

        {% for ide in ides %}

            {% for grade in grades %}
            
                {% if ide.name == grade.student.name%}

                    {% if grade.state %}

                            <div class="card rounded" style="width: 18rem; box-shadow: 0 0 15px rgba(0,0,0,0.5);">
                                <img src="{% static 'images/libros.png' %}" class="card-img-top" alt="...">
                                <div class="card-body">
                                <h5 class="card-title">{{ grade.course.code }}</h5>
                                <p class="card-text">{{ grade.course.name }}</p>
                                <form action="{%  url 'cancelation' grade.id %}" method="POST">
                                    {% csrf_token %}
                                    <input type="text" value="{{ grade.id }}" name="gradeId" id="gradeId" class="d-none">
                                    <input type="text" value="{{ grade.student.code }} " name="gradeStudent" id="gradeStudent" class="d-none">
                                    <button class="btn btn-danger mt-3">
                                    Cancelar
                                    </button></b> </p>
                                </form>
                                </div>
                            </div>

                    {% endif %}

                {% endif %}

            {% endfor %}

        {% endfor %}

    </div>


{% endblock %}