{% extends 'layouts/navbar_sidebar.html' %}

{% block title_page %}

    <title>{{ main_title }}</title>

{% endblock %}

{% block main_content %}

<!-- IMPORTAR LIBRERIAS PARA GRAFICAR -->
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>

    <div>
        <h3 class="title-financial text-uppercase">
            {{main_title }}
        </h3>
    </div>


    <!-- Invisible forms -->

    <!-- Student form -->

    <form class = "d-none" id = "id-form-student" action="" method="POST" class="w-100 h-100 d-flex justify-content-between flex-column" autocomplete="off">
        {% csrf_token %}
        <div class="h-75 d-flex gap-5 flex-column">
            {{student_form}}
        </div>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        {% if messages %}
        <script>
            {% for message in messages %}
                Swal.fire({
                    icon: '{{ message.tags }}',
                    title: '{{ message }}',
                    showConfirmButton: true,
                    confirmButtonColor: '#3085d6',
                            });
            {% endfor %}
        </script>
        {% endif %}
    </form> 

    <!-- Scholarship Form -->

    <form  class= "d-none " id = "id-form-scholarship" action="" method="POST" class="w-2 h-1" autocomplete="off" style="z-index: -1;">
        {% csrf_token %}
        <div class="h-75 d-flex gap-5 flex-column">
            {{ form.as_div }}
        </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    {% if messages %}
    <script>
        {% for message in messages %}
            Swal.fire({
                icon: '{{ message.tags }}',
                title: '{{ message }}',
                showConfirmButton: true,
                confirmButtonColor: '#3085d6',
                        });
        {% endfor %}
    </script>
    {% endif %}
    </form>


    <!-- modal generator students -->
    {% for student_missing in students_missing %}

     <div class="position-relative">
        <dialog  class="position-absolute top-50 start-50 translate-middle p-4" id = "modal-student-{{student_missing.id}}">
            <h2>{{student_missing.name}}</h2>
             <table class="table ">
                <tr>
                    <th scope="col">
                        Codigo
                    </th>
                    <th scope="col">
                        Cedula
                    </th>
                    <th scope="col">
                        Carrera 
                    </th>
                    <th>
                        ICFES
                    </th>
                    <th scope="col" >
                        Telefono
                    </th>
                    <th scope="col">
                        Beca
                    </th>
                </tr>
                <tr scope = 'row'>
                    <th>
                        {{student_missing.code}}
                    </th>
                    <th>
                        {{student_missing.cedula}}
                    </th>
                    <th>
                        {{student_missing.major}}
                    </th>
                    <th>
                        {{student_missing.icfes}}
                    </th>
                    <th>
                        {{student_missing.phoneNumber}}
                    </th>
                    <th>
                        {{student_missing.scholarship.name}}
                    </th>
                </tr>
             </table>

                <div class="d-flex justify-content-end">
                    <button  class="btn btn-success" id="btn-student-pagar-{{student_missing.id}}">
                        Pagar
                    </button>
                </div>
                
            </dialog>
     </div>

    {% endfor %}


    <!-- modal generator Scholarship -->


    {% for beca_faltante in becas_faltantes %}

    <div class="position-relative">
        <dialog id="modal-scholarship-{{beca_faltante.id}}" class="position-absolute top-50 start-50 translate-middle p-4">
            <div class="d-flex gap-3">
                <img src="../static/images/{{beca_faltante.image}}" style="width: 100px;" alt="Beca_imagen">
                <h2>{{beca_faltante.name}}</h2>
            </div>
             <table class="table mb-4 mt-4">
                <tr>
                    <th scope="col">
                        Codigo Beca
                    </th>
                    <th scope="col">
                        Porcentaje Beca
                    </th scope="col">
                    <th scope="col">
                        Auxilio transporte
                    </th scope="col">
                    <th scope="col">
                        Estudiantes Asignados
                    </th>
                </tr>
                <tr scope="row">
                    <th>
                        {{beca_faltante.code}}
                    </th>
                    <th>
                        {{beca_faltante.academic_percentage}}
                    </th>
                    <th>
                        {{beca_faltante.transportation}}
                    </th>
                    <th>
                        {{beca_faltante.assigned_students}}
                    </th>
                </tr>
             </table>

            <div id="chart-container-{{beca_faltante.id}}" class="w-100 h-50 mt-3"></div>
            
            <figure class="highcharts-figure-scholarship-{{beca_faltante.id}}">
                <div id="container-figure-scholarship-{{beca_faltante.id}}"></div>
            </figure>

            <div class="d-flex justify-content-end">
                <button  class="btn btn-success" id="btn-scholarship-pagar-{{ beca_faltante.id }}">
                    Pagar
                </button>
            </div>
    
            <script>
                Highcharts.chart('container-figure-scholarship-{{beca_faltante.id}}', {
                chart: {
                    type: 'column'
                },
                title: {
                    text: 'Fondos Asociados',
                    align: 'left'
                },
                subtitle: {
                    text:
                        'Donador: {{beca_faltante.donor}}',
                    align: 'left'
                },
                xAxis: {
                    categories: ['Alimentación', 'Transporte', 'Académico'],
                    crosshair: true,
                    accessibility: {
                        description: 'Fondos'
                    }
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: 'Pesos Colombianos (COP)'
                    }
                },
                tooltip: {
                    valueSuffix: ' Pesos'
                },
                plotOptions: {
                    column: {
                        pointPadding: 0.2,
                        borderWidth: 0
                    }
                },
                series: [
                    {
                        name: 'Montos',
                        data: [{y: {{beca_faltante.amount.alimentation}},color: '#61A3BA'}, {y: {{beca_faltante.amount.transport}},color: "#A2C579"}, {y: {{beca_faltante.amount.academic}},color : "#F5EEC8"}]
                    },
                    
                ]
                });
    
            </script>
    
        </dialog>
    </div>

    {% endfor %}   
            

    

    <div class="d-flex justify-content-center mt-5 h-75 align-items-center w-max mx-auto px-5 gap-5">

        <!--Student part -->
        <div class= "w-50 h-100" style="background-color: #ffffff; box-shadow: 0 0 15px rgba(0, 0, 0, .5); margin-right: 2rem; max-height: 379.5px;" >

            
            <h2 class="justify-content-center d-flex mt-3"> Estudiantes faltantes</h2>
            <hr>

            <!-- A button to search a specific student -->

            <!-- <div id = "search-student-container">
                <input type="text" id = "search-student-input">
                <button id = 'btn-search-student'>
                    <i class='bx bx-search-alt'></i>
                </button>
            </div> -->

            <div class="input-group mb-3 w-75 mx-auto" id="search-student-container">
                <input type="text" id="search-student-input" class="form-control" placeholder="Codigo estudiante" aria-label="Codigo estudiante" aria-describedby="basic-addon1">
                <button id="btn-search-student" class="btn btn-primary">
                    <i class='bx bx-search-alt'></i>
                </button>
            </div>

            <!-- Buttons to select one student -->

            <div class="w-100 h-50 mt-4 justify-content-between flex-column" style= "overflow-y: scroll; max-height: 80%;" >
                {% for student_missing in students_missing %}
                <div  class="d-flex flex-column w-75 mx-auto">
                    <button id="btn-student-open-{{student_missing.id}}" class="btn my-1" style="background-color: rgba(0, 0, 0, .2) ;border-color: rgb(156, 150, 150); position: relative;">
                        <i class='bx bx-user-circle fs-3' style="position: absolute; left: 5px; top: 50%; transform: translateY(-50%);"></i>
                        <span style="margin-left: 30px; font-size: 90%;">
                            {{student_missing.code}}
                            {{student_missing.name}}
                        </span>
                    </button>
                </div>
                {% endfor %}
            </div>

        </div>

        <!-- Scholarship part -->
                
        <div class= "w-50 h-100" style="background-color: #ffffff; box-shadow: 0 0 15px rgba(0, 0, 0, .5); margin-right: 2rem; max-height: 379.5px;">
            <h2 class="justify-content-center d-flex mt-3">Becas por pagar</h2>    
            <hr>

             <!-- A button to search a specific scholarship -->

             <!-- <div id = "search-scholarship-container">
                <input type="text" id = "search-scholarship-input">
                <button id = 'btn-search-scholarship'>
                    <i class='bx bx-search-alt'></i>
                </button>
            </div> -->

            <div class="input-group mb-3 w-75 mx-auto" id="search-scholarship-container">
                <input type="text" id="search-scholarship-input" class="form-control" placeholder="Codigo beca" aria-label="Codigo beca" aria-describedby="basic-addon1">
                <button id="btn-search-scholarship" class="btn btn-primary">
                    <i class='bx bx-search-alt'></i>
                </button>
            </div>

            <div class="w-100 h-50 mt-4 d-flex justify-content-between flex-row flex-wrap gap-3 p-3" style="overflow-y: auto; max-height: 80%;">
                {% for beca_faltante in becas_faltantes %}
                    <button id="btn-scholarship-open-{{beca_faltante.id}}" class="btn btn-transparent my-1 d-flex justify-content-center flex-column rounded border border-dark" style="width: 45%;">
                        <img src="../static/images/{{beca_faltante.image}}" alt="campito" class="align-self-center mb-2" style="width: 4em; height: 4em;">
                        <p class="fw-bolder m-0 p-0">{{beca_faltante.name}}</p>
                        <p class="text-uppercase m-0 p-0">{{beca_faltante.code}}</p>
                    </button>
                {% endfor %}
            </div>

        <style>
            .button-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
        
          
            .custom-button {
                width: 48%; 
                margin-bottom: 10px; 
                text-align: center; 
            }
        
            .button-content {
                padding: 20px; 
                font-size: 20px; 
            }   


        </style>
            <script>

                // Scholarship part
                var btnAbrirModal = "Set up"
                var modalScholarship = "Set up"
                var auxiliar_var = 0
                var btnPagar = "Set up"
                var input = document.querySelector("#id_scholarship_code")
                var form_scholarship = document.querySelector("#id-form-scholarship")

                {%for beca_faltante in becas_faltantes%}
                
                    auxiliar_var += 1
                    btnAbrirModal = document.querySelector("#btn-scholarship-open-{{beca_faltante.id}}")
                    modalScholarship = document.querySelector("#modal-scholarship-{{beca_faltante.id}}")
                    btnPagar = document.querySelector("#btn-scholarship-pagar-{{beca_faltante.id}}")
                    
                    btnAbrirModal.addEventListener('click', () => {
                        auxiliar_var = "{{beca_faltante.id}}"
                        btnAbrirModal = document.querySelector("#btn-scholarship-open-" + auxiliar_var)
                        modalScholarship = document.querySelector("#modal-scholarship-"+ auxiliar_var)
                        modalScholarship.showModal();
                    })

                    btnPagar.addEventListener('click', () => {
                        auxiliar_var = "{{beca_faltante.id}}"
                        btnPagar = document.querySelector("#btn-scholarship-pagar-"+ auxiliar_var)
                        input.value = "{{beca_faltante.code}}"
                        form_scholarship.submit()

                    }) 

                {% endfor %}  



                // Search a specific Scholarship

                var searchScholarshipBtn = document.querySelector("#btn-search-scholarship")
                var searchScholarshipinput = document.querySelector("#search-scholarship-input")
                var scholarship_code = '0'
                var flagMessage_scholarship = false
                var modalScholarshipSearch = 'Set Up'
                var auxiliarVarSearchScholarship = 'Set Up'
                var scholarship_list_codes = []
                var scholarship_list_ids = []

                searchScholarshipBtn.addEventListener('click', () => {
                    flagMessage_scholarship = false

                    scholarship_code = searchScholarshipinput.value
                    searchScholarshipinput.value = ""
                    
                    {% for beca_faltante in becas_faltantes %}
                         scholarship_list_codes.push("{{beca_faltante.code}}")
                         scholarship_list_ids.push("{{beca_faltante.id}}")
                    {% endfor %}



                    for(var i = 0; i < scholarship_list_codes.length; i += 1 ){
                        if(scholarship_code ==  scholarship_list_codes[i]){
                            flagMessage_scholarship = true
                            modalScholarshipSearch = document.querySelector("#modal-scholarship-"+ scholarship_list_ids[i])
                            modalScholarshipSearch.showModal()
                        }
                    }

                    if (flagMessage_scholarship == false){
                        Swal.fire({
                        icon: 'error',
                        title: 'No existe una beca con ese codigo',
                        showConfirmButton: true,
                        confirmButtonColor: '#3085d6',
                        });
                        
                    }
                })



                // Student part
                
                var btnAbrirModalStudent = "Set up"
                var modalStudent = "Set up"
                var auxiliar_var_student = 0
                var btnPagar_Student = "Set up"
                var studen_code = "Set up"
                var input_student = document.querySelector("#id_student_code")
                var form_student = document.querySelector("#id-form-student")

                {% for student_missing in students_missing %}

                    auxiliar_var_student += 1
                    btnAbrirModalStudent = document.querySelector("#btn-student-open-{{student_missing.id}}")
                    modalStudent = document.querySelector("#modal-student-{{student_missing.id}}")
                    btnPagar_Student = document.querySelector("#btn-student-pagar-{{student_missing.id}}")
                    

                    btnAbrirModalStudent.addEventListener('click', () => {
                        auxiliar_var_student = "{{student_missing.id}}"
                        console.log(auxiliar_var_student)
                        btnAbrirModal = document.querySelector("#btn-student-open-" + auxiliar_var_student)
                        modalStudent = document.querySelector("#modal-student-"+ auxiliar_var_student)
                        modalStudent.showModal()
                    })

                    btnPagar_Student.addEventListener('click', () => {
                        auxiliar_var_student = "{{student_missing.id}}"
                        btnPagar_Student = document.querySelector("#btn-student-pagar-"+ auxiliar_var_student)
                        input_student.value = "{{student_missing.code}}"
                        form_student.submit()

                    }) 
                {% endfor %}



                // Search a specific student

                var searchStudentBtn = document.querySelector("#btn-search-student")
                var searchStudentinput = document.querySelector("#search-student-input")
                var student_code = '0'
                var flagMessage = false
                var modalStudentSearch = 'Set Up'
                var student_list_codes = []
                var student_list_ids = []

                searchStudentBtn.addEventListener('click', () => {
                    flagMessage = false
                    student_code = searchStudentinput.value
                    searchStudentinput.value = ""
                    
                    {% for student_missing in students_missing %}
                         student_list_codes.push("{{student_missing.code}}")
                         student_list_ids.push("{{student_missing.id}}")
                    {% endfor %}



                    for(var i = 0; i < student_list_codes.length ; i += 1 ){
                        if(student_code ==  student_list_codes[i]){
                            flagMessage = true
                            modalStudentSearch = document.querySelector("#modal-student-"+ student_list_ids[i])
                            modalStudentSearch.showModal()
                        }
                    }

                    if (flagMessage == false){
                        Swal.fire({
                        icon: 'error',
                        title: 'No existe una estudiante con ese codigo',
                        showConfirmButton: true,
                        confirmButtonColor: '#3085d6',
                        });
                        
                    }
                })

            </script>
{% endblock %}