{% extends 'layouts/navbar_sidebar.html' %}
{% block main_content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago Transporte</title>
</head>
<body>
    <div>
        <h3 class="title-financial text-uppercase">
            {{main_title }}
        </h3>
    </div>
    <div class="d-flex justify-content-center mt-5 h-75 align-items-center w-100 mx-auto px-5">
        <div class="w-50 h-100">
            <div class="container-fluid w-75 h-75 p-3 rounded mb-4" style="background-color: #fff; box-shadow: 0 0 15px rgba(0, 0, 0, .5);">
                <form action="" method="POST" class="w-100 h-100 d-flex justify-content-between flex-column" autocomplete="off" >
                    {% csrf_token %}
                    <div class="h-75 d-flex gap-5 flex-column">
                        {{ form.as_div }}
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary upload information" >Subir Información</button>
                    </div>
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    {% if messages %}
                    <script>
                        {% for message in messages %}
                            Swal.fire({
                                icon: '{{ message.tags }}',
                                title: '{{ message }}',
                                showConfirmButton: true,
                                confirmButtonColor: '#3085d6',
                                        });
                        {% endfor %}
                    </script>
                    {% endif %}
                </form>
            </div>
            <div  class = "container-fluid w-75 h-25 p-2 rounded" style="background-color: #fff; box-shadow: 0 0 15px rgba(0, 0, 0, .5);">
                <form action="" method="POST" class="w-100 h-100 d-flex justify-content-between flex-column" autocomplete="off" >
                    {% csrf_token %}
                    <div class="h-75 d-flex gap-5 flex-column">
                        {{ student_form.as_div }}
                    </div>
                    <div class="d-flex justify-content-end">
                        <button class="btn btn-primary upload information" >Subir Información</button>
                    </div>
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    {% if messages %}
                    <script>
                        {% for message in messages %}
                            Swal.fire({
                                icon: '{{ message.tags }}',
                                title: '{{ message }}',
                                showConfirmButton: true,
                                confirmButtonColor: '#3085d6',
                                        });
                        {% endfor %}
                    </script>
                    {% endif %}
                </form>
            </div>
        </div>
        <div class="container-fluid w-50 h-100 p-2 rounded" style="background-color: #fff; box-shadow: 0 0 15px rgba(0, 0, 0, .5);">
            <h2>Becas por pagar</h2>
            <hr>
            <div class="w-100 h-100 d-flex justify-content-between flex-column" style= "overflow-y: scroll; max-height: 16em;">
                {%for beca_faltante in becas_faltantes%}
                    <button id = "btn-scholarship-open-{{beca_faltante.id}}" class="bg-light mx-3 my-0 mb-2" style="border-color: rgb(156, 150, 150) ;">
                        <div class="d-flex text-center ">
                            <img src="../static/images/{{beca_faltante.image}}" alt="campito" style="width: 4em; height: 4em; border-radius: 30%; margin: 5px;">
                            <td class="">{{beca_faltante.code}}</td>
                            <td class="">{{beca_faltante.name}}</td>
                            <td>{{beca_faltante.image}}</td>
                            <img src="" alt="">
                        </div>
                    </button>

                    <dialog  id = "modal-{{beca_faltante.id}}">
                        <img src="../static/images/{{beca_faltante.image}}" alt="Beca_imagen">
                        <h2>{{beca_faltante.name}}</h2>
                         <table>
                            <tr>
                                <th>
                                    Codigo Beca
                                </th>
                                <th>
                                    Porcentaje Beca
                                </th>
                                <th>
                                    Auxilio transporte
                                </th>
                                <th>
                                    Estudiantes Asignados
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    {{beca_faltante.code}}
                                </th>
                                <th>
                                    {{beca_faltante.academic_percentage}}
                                </th>
                                <th>
                                    {{beca_faltante.transportation}}
                                </th>
                                <th>
                                    {{beca_faltante.assigned_students}}
                                </th>
                            </tr>
                         </table>

                         <input class = "scholarship_code-{{beca_faltante.code}}" id = "scholarship_code" value = "asdfas">adad
                        </input>
                            <button  class="btn btn-success" id="btn-scholarship-pagar-{{ beca_faltante.id }}">
                                Pagar
                            </button>

                        <form method="POST" id = "form-{{beca_faltante.id}}">
                            {% csrf_token %}
                        </form>

                    </dialog>
                {% endfor %}   
            </div>
           
            <script>
                var btnAbrirModal = "a"
                var modal = "a"
                var auxiliar_var = 0
                var btnPagar = "a"
                var scholarship_code = "a"
                var form = ""
                {%for beca_faltante in becas_faltantes%}
                    auxiliar_var += 1
                    btnAbrirModal = document.querySelector("#btn-scholarship-open-{{beca_faltante.id}}")
                    modal = document.querySelector("#modal-{{beca_faltante.id}}")
                    btnPagar = document.querySelector("#btn-scholarship-pagar-{{beca_faltante.id}}")
                    
                    
                    btnAbrirModal.addEventListener('click', () => {
                        auxiliar_var = "{{beca_faltante.id}}"
                        btnAbrirModal = document.querySelector("#btn-scholarship-open-" + auxiliar_var)
                        modal = document.querySelector("#modal-"+ auxiliar_var)
                        modal.showModal();
                    })

                    btnPagar.addEventListener('click', (event) => {
                        event.preventDefault();
                        auxiliar_var = "{{beca_faltante.id}}"
                        btnPagar = document.querySelector("#btn-scholarship-pagar-"+ auxiliar_var)
                        scholarship_code = document.querySelector(".scholarship_code-{{beca_faltante.code}}")
                        scholarship_code = "{{beca_faltante.code}}"
                        form = document.querySelector("#form-"+ auxiliar_var);
                        form.submit(); 
                        console.log("padfad")
                    }) 

                {% endfor %}  


            </script>
</body>
</html>
{% endblock %}