{% extends 'layouts/navbar_sidebar.html' %}
{% block main_content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pago Transporte</title>
</head>
<body>
    <div>
        <h3 class="title-financial text-uppercase">
            {{main_title }}
        </h3>
    </div>

    <!--Student part  -->

    <div class="d-flex justify-content-center mt-5 h-75 align-items-center w-100 mx-auto px-5">
        <div class="w-50 h-100">
            <div class="container-fluid w-100 h-100 p-2 " style="background-color: #fff; box-shadow: 0 0 15px rgba(0, 0, 0, .5);">

                <h2> Estudiantes faltantes</h2>
                <hr>

                <i class="fa-thin fa-face-awesome"></i>

                {% for student_missing in students_missing %}
                    <button id = "btn-student-open-{{student_missing.id}}" class="bg-light mx-3 my-0 mb-2" style="border-color: rgb(156, 150, 150) ;">
                        <div class="d-flex text-center ">
                            <i class='bx bx-user-circle'></i>
                            <td class="">{{student_missing.code}}</td>
                            <td class="">{{student_missing.name}}</td>
                        </div>
                    </button>

                    <dialog  id = "modal-student-{{student_missing.id}}">
                        <i class='bx bxs-user-circle'></i>
                        <h2>{{student_missing.name}}</h2>
                         <table>
                            <tr>
                                <th>
                                    Codigo Estudiante
                                </th>
                                <th>
                                    cedula
                                </th>
                                <th>
                                    Carrera 
                                </th>
                                <th>
                                    icfes
                                </th>
                                <th>
                                    Telefono de contacto
                                </th>
                                <th>
                                    Beca asignada
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    {{student_missing.code}}
                                </th>
                                <th>
                                    {{student_missing.cedula}}
                                </th>
                                <th>
                                    {{student_missing.major}}
                                </th>
                                <th>
                                    {{student_missing.icfes}}
                                </th>
                                <th>
                                    {{student_missing.phoneNumber}}
                                </th>
                                <th>
                                    {{student_missing.scholarship.name}}
                                </th>
                            </tr>
                         </table>
                            <button  class="btn btn-success" id="btn-student-pagar-{{ student_missing.id }}">
                                Pagar
                            </button>
                    </dialog>

                {% endfor %}


            
            </div>
                <form id = "id-form-student" action="" method="POST" class="w-100 h-100 d-flex justify-content-between flex-column" autocomplete="off">
                    {% csrf_token %}
                    <div class="h-75 d-flex gap-5 flex-column">
                        {{ student_form.as_div }}
                    </div>
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    {% if messages %}
                    <script>
                        {% for message in messages %}
                            Swal.fire({
                                icon: '{{ message.tags }}',
                                title: '{{ message }}',
                                showConfirmButton: true,
                                confirmButtonColor: '#3085d6',
                                        });
                        {% endfor %}
                    </script>
                    {% endif %}
                </form> 

        </div>

        <!-- Scholarship part -->

        <form  id = "id-form-scholarship" action="" method="POST" class="w-2 h-1" autocomplete="off" style="z-index: -1;">
                        {% csrf_token %}
                        <div class="h-75 d-flex gap-5 flex-column">
                            {{ form.as_div }}
                        </div>
                    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                    {% if messages %}
                    <script>
                        {% for message in messages %}
                            Swal.fire({
                                icon: '{{ message.tags }}',
                                title: '{{ message }}',
                                showConfirmButton: true,
                                confirmButtonColor: '#3085d6',
                                        });
                        {% endfor %}
                    </script>
                    {% endif %}
        </form>
                
        <div class="container-fluid w-50 h-100 p-2 rounded" style="background-color: #fff; box-shadow: 0 0 15px rgba(0, 0, 0, .5);">
            <h2>Becas por pagar</h2>
            <hr>
            <div class="w-100 h-100 d-flex justify-content-between flex-column" style= "overflow-y: scroll; max-height: 16em;">
                {%for beca_faltante in becas_faltantes%}
                    <button id = "btn-scholarship-open-{{beca_faltante.id}}" class="bg-light mx-3 my-0 mb-2" style="border-color: rgb(156, 150, 150) ;">
                        <div class="d-flex text-center ">
                            <img src="../static/images/{{beca_faltante.image}}" alt="campito" style="width: 4em; height: 4em; border-radius: 30%; margin: 5px;">
                            <td class="">{{beca_faltante.code}}</td>
                            <td class="">{{beca_faltante.name}}</td>
                            <td>{{beca_faltante.image}}</td>
                        </div>
                    </button>
                    <dialog  id = "modal-scholarship-{{beca_faltante.id}}">
                        <img src="../static/images/{{beca_faltante.image}}" alt="Beca_imagen">
                        <h2>{{beca_faltante.name}}</h2>
                         <table>
                            <tr>
                                <th>
                                    Codigo Beca
                                </th>
                                <th>
                                    Porcentaje Beca
                                </th>
                                <th>
                                    Auxilio transporte
                                </th>
                                <th>
                                    Estudiantes Asignados
                                </th>
                            </tr>
                            <tr>
                                <th>
                                    {{beca_faltante.code}}
                                </th>
                                <th>
                                    {{beca_faltante.academic_percentage}}
                                </th>
                                <th>
                                    {{beca_faltante.transportation}}
                                </th>
                                <th>
                                    {{beca_faltante.assigned_students}}
                                </th>
                            </tr>
                         </table>
                        <button  class="btn btn-success" id="btn-scholarship-pagar-{{ beca_faltante.id }}">
                                Pagar
                        </button>
                    </dialog>
                {% endfor %}   
            </div>
           
            <script>

                // Scholarship part
                var btnAbrirModal = "Set up"
                var modalScholarship = "Set up"
                var auxiliar_var = 0
                var btnPagar = "Set up"
                var input = document.querySelector("#id_scholarship_code")
                var form_scholarship = document.querySelector("#id-form-scholarship")

                {%for beca_faltante in becas_faltantes%}
                
                    auxiliar_var += 1
                    btnAbrirModal = document.querySelector("#btn-scholarship-open-{{beca_faltante.id}}")
                    modalScholarship = document.querySelector("#modal-scholarship-{{beca_faltante.id}}")
                    btnPagar = document.querySelector("#btn-scholarship-pagar-{{beca_faltante.id}}")
                    
                    btnAbrirModal.addEventListener('click', () => {
                        auxiliar_var = "{{beca_faltante.id}}"
                        btnAbrirModal = document.querySelector("#btn-scholarship-open-" + auxiliar_var)
                        modalScholarship = document.querySelector("#modal-scholarship-"+ auxiliar_var)
                        modalScholarship.showModal();
                    })

                    btnPagar.addEventListener('click', () => {
                        auxiliar_var = "{{beca_faltante.id}}"
                        btnPagar = document.querySelector("#btn-scholarship-pagar-"+ auxiliar_var)
                        input.value = "{{beca_faltante.code}}"
                        form_scholarship.submit()

                    }) 

                {% endfor %}  


                // Student part
                
                var btnAbrirModalStudent = "Set up"
                var modalStudent = "Set up"
                var auxiliar_var_student = 0
                var btnPagar_Student = "Set up"
                var studen_code = "Set up"
                var input_student = document.querySelector("#id_student_code")
                var form_student = document.querySelector("#id-form-student")

                {% for student_missing in students_missing %}

                    auxiliar_var += 1
                    btnAbrirModalStudent = document.querySelector("#btn-student-open-{{student_missing.id}}")
                    modalStudent = document.querySelector("#modal-student-{{student_missing.id}}")
                    btnPagar_Student = document.querySelector("#btn-student-pagar-{{student_missing.id}}")
                    
                    
                    btnAbrirModalStudent.addEventListener('click', () => {
                        auxiliar_var = "{{student_missing.id}}"
                        btnAbrirModal = document.querySelector("#btn-student-open-" + auxiliar_var_student)
                        modalScholarship = document.querySelector("#modal-student-"+ auxiliar_var_student)
                        modalStudent.showModal();
                    })

                    btnPagar_Student.addEventListener('click', () => {
                        auxiliar_var_student = "{{student_missing.id}}"
                        btnPagar_Student = document.querySelector("#btn-student-pagar-"+ auxiliar_var_student)
                        input_student.value = "{{student_missing.code}}"
                        form_student.submit()

                    }) 
                
                {% endfor %}



            </script>
</body>
</html>
{% endblock %}