{% extends 'layouts/navbar_sidebar.html' %}

{% block main_content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>REPORTE</h3>

    <div class="mx-auto w-75 h-75 mt-5" style="background-color: #FFF; box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);">
        <div class="table-responsive w-100 p-3" style="height: 90%;">
            <table id="tableStudents" class="table w-100 mt-4">
                <thead class="table-secondary">
                    <tr class="align-middle">
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Notas</th>
                        <th>Consultas</th>
                        <th>Gastos</th>
                        <th>Actividades no académicas</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in selected_students %}
                        <tr>
                            <td>{{ student.code }}</td>
                            <td>{{ student.name }}</td>
                            <td>
                                {% for grade in grades %}
                                    {% if student == grade.student %}
                                        <p>{{ grade.curso.code }} : <b>{{ grade.grade }}</b></p>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for consulta in consultas %}
                                    {% if student == consulta.student %}
                                        <p>Centro de apoyo: {{ consulta.support_center }} </p>
                                        <p>Fecha: {{ consulta.fecha }}</p>
                                        <p>Hora: {{ consulta.hora }}</p>
                                        <p>Motivo: {{ consulta.motivo }}</p>
                                        <p>Resultado: {{ consulta.resultado }}</p>
                                        <hr>
                                    {% endif %}
                                {% endfor %}
                            </td>
                            <td>
                                {% for expense  in expenses %}
                                    {% if student == expense.student %}
                                        <li>Tipo: {{ expense.tipo}}</li>
                                        <li>Cantidad de dinero: {{ expense.cantidad_dinero }}</li>
                                        <li>Tiempo: {{expense.cantidad_dinero.tiempo_acumulado}}</li>
                                        <li>Beca Asociada: {{ expense.scholarship.name}}</li>
                                    {% endif %}
                                    <hr>
                                {% endfor %}
                            </td>
                            <td>
                                {% for b in bu %}

                                    {% if student == b.student %}

                                        <p>Actividad: {{ b.actividad }}</p>
                                        <p>Dias asistencia: {{ b.dias_asistencia }}</p>

                                    {% endif %}

                                    <hr>

                                {% endfor %}
                            </td>
                            <td>
                                <form method="get" action="{% url 'generate_pdf' student.id %}">
                                    <button type="submit" class="btn btn-primary">Descargar PDF</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            
        </div>
    </div>

    <script>
        let tableStudents = $('#tableStudents').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            }
        });
    </script>
</body>
</html>
{% endblock %}