<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>




    <ul>
        {% for ide in ides %}

        <p>{{ide.name}}{{ide.code}} </p>

            {% for grade in grades %}

               {% if ide.name == grade.estudiante.name%}

               <p>{{grade.curso.name}} {{grade.grade}} </p>

               {% endif %}

            {% endfor %}

        {% endfor %}
        </ul>

</body>
</html>