{% extends 'layouts/navbar_sidebar.html' %}
{% load static %}

{% block main_content %}

<div>
    <h3>EVALUACION DE METAS</h3>
</div>

<div class="h-75 w-50 mt-5 mx-auto rounded p-3" style="background-color: #FFF; max-height: 399.5px; box-shadow: 0 0 15px rgba(0,0,0,0.5); width: 95%;">

    
    <form class="h-100 d-flex flex-column justify-content-between" method="post" action="{% url 'goalEvaluation' pk=student.id %}">
        {% csrf_token %}

        {% if not goals %}
        <div class="alert alert-warning">
            Este estudiante tiene una beca asociada, pero no hay metas asignadas.
        </div>
        {% endif %}
        
        {% if mensaje %}
        <div class="alert alert-danger">{{ mensaje }}</div>
        {% endif %}
        
        <div class="d-flex gap-3 flex-column h-75" style="overflow-y: scroll;">
            {% for goal in goals %}
                <div class="rounded p-3 border border-dark">
                    <label for="{{ goal.id }}">{{ goal.description }}</label>
                </div>
            {% endfor %}
        </div>
    
        <div class="d-flex justify-content-end mt-2">
            <a href="{% url 'studentManage' %}" class="btn btn-danger">Volver</a>
        </div>
    </form>

</div>



<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{% if messages %}
<script>
    {% for message in messages %}
    Swal.fire({
        icon: '{{ message.tags }}',
        title: '{{ message }}',
        showConfirmButton: true,
        confirmButtonColor: '#3085d6',
    });
    {% endfor %}
</script>
{% endif %}

{% endblock %}
