{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio de Sesion</title>

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'styles/login_styles.css' %}">
    <link href="{% static 'images/favicon_ICESI.png' %}" rel="Shortcut Icon">
</head>
<body class="d-flex pt-5 pb-5 justify-content-center align-content-center" style="background-color: #fff;">

    <main class="container bg-white">

        <div class="row">
            <section class="col-12 col-xxl-4 col-xl-5 col-lg-6 p-4">
                <img class="img-fluid mb-3" src="{% static 'images/logo_ICESI.png' %}" alt="Logo de ICESI" width="250px">
    
                <article class="form_login p-sm-5 pt-5">
                    <h2 class="mb-5">¡Bienvenido!</h2>
                    
                    <form action="" method="POST">
                        {% csrf_token %}
                        {{ form.as_div }}
                        <button id = "inicio" href="dashboard" class="btn btn-primary container-fluid mt-2">Iniciar Sesion</button>
                    </form>
    
                    <div class="text-danger mt-4 error">
                        {% if error %}

                            <h6>Usuario o Contraseña incorrectos</h6>
                            
                        {% endif %}
                    </div>
    
                </article>
                
            </section>
    
            <section class="right_form col-0 col-xxl-8 col-xl-7 col-lg-6">
            </section>
        </div>

    </main>

</body>
</html>