{% extends 'layouts/navbar_sidebar.html' %}

{% block main_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte</title>
</head>
<body>


    <h1>Seleccion estudiante</h1>
    <p> <br></p>


    
    <ul>
    {% for student in students %}
        <p>{{student.name}} {{student.code}}</p>
        
        <form action="{%  url 'report' student.id %}" method="POST">
            {% csrf_token %}
            <button class="btn btn-primary">
                agregar
            </button>
             
        </form>
          <br>
    {% endfor %}
    </ul>

    <p><a href="/generateReport">Generar reporte</a></p>

</body>
</html>

{% endblock %}