{% extends 'layouts/navbar_sidebar.html' %}

{% block main_content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reporte</title>
</head>
<body>


    <h3>GENEAR REPORTE</h3>
    <p> <br></p>


    
    <div class="mx-auto w-75 h-75 d-flex justify-content-between flex-column p-3 rounded" style="background-color: #FFF; box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);">

        <h4 class="fw-bolder">Estudiantes</h4>
        
        <div class="w-100 table-responsive" style="height: 90%;">
            <table class="table" id="tableStudents">
                <thead class="table-secondary">
                    <tr>
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Mas</th>
                    </tr>
                </thead>
                <tbody>
                    {% for student in students %}
                        <tr>
                            <td>{{student.codigo}}</td>
                            <td>{{student.nombre}}</td>
                            <td>
                                <form action="{%  url 'report' student.id %}" method="POST">
                                    {% csrf_token %}
                                    <button class="btn btn-success">
                                        agregar
                                    </button>
                                    
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <div class="d-flex justify-content-end">
            <a href="/generateReport" class="btn btn-primary">Generar reporte</a>
        </div>
    </div>

    <script>

        let tableStudents = $('#tableStudents').DataTable({
            "language": {
                "url": "//cdn.datatables.net/plug-ins/1.10.15/i18n/Spanish.json"
            }
        })

    </script>


</body>
</html>

{% endblock %}