{% extends 'layouts/navbar_sidebar.html' %} 

{% load static %}

{% block main_content %}
<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <div class="header">
            <h3>CARGAR INFORMACION</h3>
        </div>
        <div class="d-flex justify-content-center align-items-center mt-5">
            <div class="container-fluid w-75 p-3 d-flex flex-column rounded" style="box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.50); background-color: #FFF;">
                <article class="d-flex flex-column gap-3">
                    <h5>Elegir formato:</h5>
                    <div class="dropdown">
                        <select id="carrera" onchange="cambiarArchivo()">
                            <option value="FORMATO_SIS_CURSOS-NOTAS.xlsx">Ingenieria de Sistema</option>
                            <option value="FORMATO_TEL_CURSOS-NOTAS.xlsx">Ingenieria Telematica</option>
                            <option value="FORMATO_IBQ_CURSOS-NOTAS.xlsx">Ingenieria Bioquimica</option>
                            <!-- Agrega más opciones según las carreras que tengas -->
                        </select>
                    </div>
                    <a id="descargar" href="{% static 'excel_format/FORMATO_SIS_CURSOS-NOTAS.xlsx' %}" download>
                        <button class="download-button btn btn-primary">Descargar Formato</button>
                    </a>
                    <script>
                        function cambiarArchivo() {
                            var carrera = document.getElementById('carrera').value;
                            document.getElementById('descargar').href = "{% static 'excel_format/' %}" + carrera;
                        }
                    </script>
                </article>
                <article class="d-flex flex-column gap-3">
                    <h5>Archivos cargados</h5>
                    <table cellspacing="10" class="bg-secondary bg-opacity-25 rounded container" style="border-collapse: separate; border-spacing: 1rem 10px;">
                        <tr>
                            <th>#</th>
                            <th>Nombre</th>
                            <th>Peso</th>
                            <th>Acción</th>
                        </tr>
                    </table>
                </article>               
                <article class="d-flex flex-column gap-3">
                    <h5>Información de Notas:</h5>
                    <input type="text" id="search" placeholder="Buscar por estudiante...">
                    <div style="height: 300px; overflow-y: auto;">
                        <table cellspacing="10" class="bg-secondary bg-opacity-25 rounded container" style="border-collapse: separate; border-spacing: 1rem 10px;">
                            <tr>
                                <th>Estudiante</th>
                                <th>Curso</th>
                                <th>Nota</th>
                            </tr>
                            {% for grade in grades %}
                            <tr class="student">
                                <td class="student-code">{{ grade.student }}</td>
                                <td>{{ grade.course }}</td>
                                <td>{{ grade.grade }}</td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </article>
                <script>
                    document.getElementById('search').addEventListener('keyup', function() {
                      var search = this.value.toLowerCase();
                      var students = document.getElementsByClassName('student');
                      for (var i = 0; i < students.length; i++) {
                        var name = students[i].getElementsByClassName('student-code')[0].textContent.toLowerCase();
                        students[i].style.display = name.includes(search) ? '' : 'none';
                      }
                    });
                </script>                                
                <article>
                    <div class="upload-area">
                        <form method="POST" enctype="multipart/form-data">
                            {{form.as_p}}
                            <div class="send w-100 d-flex justify-content-end"> 
                                {% csrf_token %} 
                                <button class="send-button btn btn-primary px-5" id="send-button">Enviar</button>
                            </div>
                            <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
                            {% if messages %}
                                <script>
                                    {% for message in messages %}
                                        Swal.fire({
                                            icon: '{{ message.tags }}',
                                            title: '{{ message }}',
                                            showConfirmButton: true,
                                            confirmButtonColor: '#3085d6',
                                        });
                                    {% endfor %}
                                </script>
                            {% endif %}
                        </form>
                    </div>
                </article>
            </div>
        </div>
        
        <script>
            // Selecciona el input de archivo
            var fileInput = document.querySelector('input[type="file"]');
            // Maneja el evento de cambio del input
            fileInput.addEventListener('change', function() {
                // Selecciona el archivo subido
                var file = fileInput.files[0];
                // Selecciona la tabla
                var table = document.querySelector('table');
                // Crea una nueva fila y celdas
                var row = document.createElement('tr');
                var cell1 = document.createElement('td');
                var cell2 = document.createElement('td');
                var cell3 = document.createElement('td');
                var cell4 = document.createElement('td'); // Nueva celda para el botón de eliminar
                // Asigna los datos del archivo a las celdas
                cell1.textContent = table.rows.length; // Número de fila
                cell2.textContent = file.name; // Nombre del archivo
                cell3.textContent = file.size; // Tamaño del archivo
                // Crea un botón de eliminar y lo agrega a la cuarta celda
                var deleteButton = document.createElement('button');
                deleteButton.textContent = 'Eliminar';
                deleteButton.className += " btn btn-danger py-0";
                deleteButton.addEventListener('click', function() {
                    row.parentNode.removeChild(row);
                });
                cell4.appendChild(deleteButton);
                // Agrega las celdas a la fila
                row.appendChild(cell1);
                row.appendChild(cell2);
                row.appendChild(cell3);
                row.appendChild(cell4); // Agrega la celda del botón de eliminar a la fila
                // Agrega la fila a la tabla
                table.appendChild(row);
            });
        </script>
    </body>
</html> 
{% endblock %}